*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

:root {

  --primary: #ff000f;

}

body {
  background: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {

  display: none;

}

.movie-banners {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  border-radius: 50px;
  width: 200px;
  height: 300px;
}