header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    transition: 0.5s;
    z-index: 10000;
    background-color: rgb(249, 220, 164);

}

header.scrolled {

    background: rgba(0,0,0,0.6);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(90deg, trasparent, var(--primary), transparent) 30;
    backdrop-filter: blur(20px);
    padding: 10px 100px;
}

.logo {
    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    
}

.nav {

    display: flex;
 
}

.logoimage {
  width: 75px; 
  height: auto;
  border-radius: 25px;

}

